<form action="">
    <header>
        <h3 style="text-align: center; color: #066BF7;">ADMINISTRACIÓN DE RESOLUCIONES</h3>
    </header>
    
    <div class="form-row justify-content-center">
        <label for="" class="col-sm-0.5 col-form-label-sm">Buscar por: </label>
        <div class="col-sm-2">
            <select name="" id="" class="form-control form-control-sm">
                <option value="">Sin opciones</option>
            </select>
        </div>
        <input type="text" class="form-control col-sm-2 form-control-sm">
        <a href=""><img src="./img/bbuscarico.png" alt=""></a>
    </div>

    <div class="container">
        <div class="table-responsive">
            <table class="table">
                <thead class="bg-primary" style="color: white; text-align: center;">
                    <tr>
                      <th scope="col">ID</th>
                      <th scope="col">Papeleta</th>
                      <th scope="col">Placa</th>
                      <th scope="col">Obligado</th>
                      <th scope="col">Infraccion</th>
                      <th scope="col">Fecha</th>
                      <th scope="col">Expediente</th>
                      <th scope="col">Usuario</th>
                      <th scope="col">Estado</th>
                      <th scope="col" >Ver</th>
                      <th scope="col" >Inf y Exp.</th>
                      <th scope="col">Imprimir</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr style="text-align: center;">
                        <td>Sin dato</td>
                      <td>Sin dato</td>
                      <td>Sin dato</td>
                      <td>Sin dato</td>
                      <td>Sin dato</td>
                      <td>Sin dato</td>
                      <td>Sin dato</td>
                      <td>Sin dato</td>
                      <td>Sin dato</td>
                      <td><a href=""><img src="./img/bbuscarico2.png" alt=""></a></td>
                      <td><a href=""><img src="./img/bagregarico2.png" alt=""></a></td>
                      <td><a href=""><img src="./img/bprintico2.png" alt=""></a></td>
                    </tr>
                    <tr style="text-align: center;">
                        <td>Sin dato</td>
                      <td>Sin dato</td>
                      <td>Sin dato</td>
                      <td>Sin dato</td>
                      <td>Sin dato</td>
                      <td>Sin dato</td>
                      <td>Sin dato</td>
                      <td>Sin dato</td>
                      <td>Sin dato</td>
                      <td><a href=""><img src="./img/bbuscarico2.png" alt=""></a></td>
                      <td><a href=""><img src="./img/bagregarico2.png" alt=""></a></td>
                      <td><a href=""><img src="./img/bprintico2.png" alt=""></a></td>
                    </tr>
                  </tbody>
                  <tfoot>
                      <tr><td colspan="12" style="text-align: center; align-items: center;">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center">
                          <li class="page-item">
                            <a class="page-link" href="#" aria-label="Previous">
                              <span aria-hidden="true">&laquo;</span>
                            </a>
                          </li>
                          <li class="page-item"><a class="page-link" href="#">1</a></li>
                          <li class="page-item"><a class="page-link" href="#">2</a></li>
                          <li class="page-item"><a class="page-link" href="#">3</a></li>
                          <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next">
                              <span aria-hidden="true">&raquo;</span>
                            </a>
                          </li>
                        </ul>
                      </nav>
                    </td></tr>
                  </tfoot>  
            </table>
        </div>
    </div>
</form>
