<form #regFormPersona="ngForm">

<div class="modal fade bd-example-modal-lg" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-xl" >
    <div class="modal-content">


      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Registro de Persona</h5>
        <button type="button" #closebutton class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">




    <div class="form-row">
   
      <div class="col-md-1 mb-3">
        <label for="validationTooltip02">Tipo Doc.</label>
        <select id="cars" class="form-control">
          <option value="volvo">DNI</option>         
        </select>
        <div class="valid-tooltip">
          Looks good!
        </div>
    </div>    
    
    <div class="col-md-2 mb-3">
      <label for="validationTooltip02">Número de Documento</label>
      <input type="text" class="form-control" id="validationTooltip01" placeholder="Número de documento" name='fdniPersona' value="" [(ngModel)]='fdniPersona' required>      
    </div>  
    
    <div class="col-md-1 mb-3">
        <label for="validationTooltip02" style="color: cornsilk;">N</label>
        <br>        
        <button style="vertical-align: bottom;" (click)="BuscarPersonaDNI()"><img src="../../../assets/img/buscar.png" alt="x" height="30px" width="28px"/></button>
        
    </div>  

        <div class="col-md-3 mb-3">
          <label for="validationTooltip04">Apellido Paterno</label>
          <input type="text" class="form-control" id="validationTooltip04" placeholder="Apellido Pat" name='fApePatPersona' value="" [(ngModel)]='fApePatPersona'>
          <div class="invalid-tooltip">
            Please provide a valid state.
          </div>
        </div>
        <div class="col-md-3 mb-3">
          <label for="validationTooltip05">Apellido Materno</label>
          <input type="text" class="form-control" id="validationTooltip05" placeholder="Apellido Mat" name='fApeMatPersona' value="" [(ngModel)]='fApeMatPersona'>
          <div class="invalid-tooltip">
            Please provide a valid zip.
          </div>
        </div>
    
        <div class="col-md-2 mb-3">
            <label for="validationTooltip03">Nombres</label>
            <input type="text" class="form-control" id="validationTooltip03" placeholder="Nombres" name='fNombrePersona' value="" [(ngModel)]='fNombrePersona'>
            <div class="invalid-tooltip">
              Please provide a valid city.
            </div>
        </div>
      </div>
      
      <div class="form-row">
       
        <div class="col-md-12 mb-3">
          <label for="validationTooltip04">Departamento/Provincia/Distrito</label>
          <input type="text" class="form-control" id="validationTooltip05" placeholder="Ubigeo" name='fUbigeoPersona' value="" [(ngModel)]='fUbigeoPersona'>
          <div class="invalid-tooltip">
            Please provide a valid state.
          </div>
        </div>

      </div>
    
      <button class="btn btn-primary" (click)="SavePersona(regFormPersona)">Registrar</button>

  </div>
  <div class="modal-footer">
    
  </div>
</div>
</div>
</div>
</form>